@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    overflow: hidden;
}


.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px; /* Adjust the padding to increase the height */
  border-bottom: 2px solid #ccc;
  
}

.company-name {
  color: rgb(255, 128, 0); /* Color of the company name */
  font-weight: bold;
  font-size: 30px;
  margin-left: 100px;
}

.navbar-links{
	margin-right: 400px;
}
.navbar-links a {
  color: black; /* Color of the links except Home */
margin-left: 30px;
  text-decoration:none ;
  font-size: 20px ;
  font-weight: bold ;
  cursor: pointer ;
   z-index: 1; 
    position: relative;
}

.navbar-links a.home-link {
  color: black; /* Color of the Home link */
}

.navbar-links a:hover {
  color: rgb(255, 128, 0); /* Color on hover */
}



.context {
    width: 100%;
    position: absolute;
    top:50vh;
     text-align: center;
    color: #fff;
    font-size: 50px;
    
}
.area{
    background: rgb(0, 0, 0);  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(250, 177, 10);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
#tagline {
    font-size: 36px; /* Larger font size */
  font-weight: bold;
  margin: 10px 0;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; /* Vertical alignment */
}

@keyframes typing {
  0%{
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
#tagline {
  animation: typing 3s steps(40, end)forwards;
}


/* css code for profile form of dashboard*/
 #registration-form {
    font-family:'Open Sans Condensed', sans-serif;
    width: 600px;
    min-width:350px;
    margin: 5px auto;
    position: relative;
    
  }
  
  #registration-form .fieldset {
    background-color:rgb(255, 255, 255);
  
    border-radius: 3px;
    
  }
  
   #registration-form legend {
    text-align: center;
    background: #364351;
    width: 100%;
    height: 60px;
    padding: 10px 0;
    border-radius: 3px 3px 0 0;
    color: white;
  font-size:2em;
  }
  
  .fieldset form{
    border:1px solid #dcdcdc;
    margin:0 auto;
    margin-bottom: 1-pxpx;
    display:block;
    width:100%;
    padding:10px 20px;
    box-sizing:border-box;
    border-radius:0 0 3px 3px;
  }
  label{
    color: rgb(42, 42, 42);
  }
  .placeholder #registration-form label {
    display: none;
  }
   .no-placeholder #registration-form label{
  margin-left:5px;
    position:relative;
    display:block;
    color:rgb(247, 244, 244);
    text-shadow:0 1px white;
    font-weight:bold;
  }
  /* all */
  ::-webkit-input-placeholder { text-shadow:1px 1px 1px white; font-weight:bold; }
  ::-moz-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* firefox 19+ */
  :-ms-input-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* ie */
  #registration-form input[type="date"],
#registration-form input[type="password"],
  #registration-form input[type=text] {
    padding: 15px 20px;
    border-radius: 1px;
    margin:5px auto;
    background-color:#f7f7f7;
    border: 1px solid silver;
  
    -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
    width: 100%;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition:background-color .5s ease;
  -moz-transition:background-color .5s ease;
  -o-transition:background-color .5s ease;
  -ms-transition:background-color .5s ease;
  transition:background-color .5s ease;
  }
  
  
  
  .no-placeholder #registration-form input[type=text] {
    padding: 10px 20px;
  }
  
  #registration-form input[type=text]:active, .placeholder #registration-form input[type=text]:focus {
    outline: none;
    border-color: silver;
    background-color:white;
  }
  
  #registration-form input[type=submit] {
    font-family:'Open Sans Condensed', sans-serif;
    text-transform:uppercase;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    background-color: #dda108;
    padding: 10px;
    color: white;
    border: 1px solid #906b07;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    position:relative;
    top:0;
    margin-left:25%;
  }
  
  #registration-form input[type=submit]:hover {
    background-color: #2196f3;
  }
  
  #registration-form input[type=submit]:active {
  background:#5C8CA7;
  }
  
  
  .parsley-error-list{
  background-color:#C34343;
  padding: 5px 11px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 3px 3px;
  margin-top:-5px;
    margin-bottom:5px;
    color:white;
    border:1px solid #870d0d;
    border-top:none;
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    top:-1px;
    text-shadow:0px 1px 1px #460909;
      font-weight:700;
    font-size:12px;
  }
  .parsley-error{
    border-color:#870d0d!important;
    border-bottom:none;
  }
  #registration-form select{
    width:100%;
    padding:5px;
  }
  ::-moz-focus-inner {
    border: 0;
  }
  
  .content {
    flex-grow: 1;
    padding: 10px;
  }
  /* dashboard design*/
  .dashboard {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1000px;
  }
  
  .box {
    padding: 20px;
    margin: 20px;
    width: 23%;
    transition: transform 0.2s;
    /* Gradient background */
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px; /* Adjust the border-radius for desired shape */
  }
  
  .box:hover {
    transform: translateY(-5px);
  }
  
  .box h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .box p {
    margin: 0;
    padding: 0;
    color: #ffffff; /* Set text color to white */
  }
  
  /* Colors for different boxes */
  .box-total {
    background: linear-gradient(135deg, #f7c947, #ff8a00);
  }
  
  .box-current {
    background: linear-gradient(135deg, #42a5f5, #2196f3);
  }
  
  .box-total:hover {
    background: linear-gradient(135deg, #f4b400, #ff8a00);
  }
  
  .box-current:hover {
    background: linear-gradient(135deg, #1976d2, #2196f3);
  }
  
  
